/* Estilização da Section Products */
.products__title {
  margin: 1.5rem 0 0rem 0;
  text-align: center;
  color: var(--text-color);
  font-family: "Coustard", serif;
}
.products {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem;
  gap: 20px;
  justify-content: center;
}

.products__card {
  width: calc(20% - 20px);
  background-color: var(--bg-color);
  border-radius: 12px;
  padding: 1.5rem 1rem;
  text-align: center;
}

.products__card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.products__image {
  height: 100px;
  width: auto;
  object-fit: contain;
}

.products__info {
  color: var(--text-color);
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  line-height: 1.8rem;
}

.products__price {
  font-weight: 500;
}

/* Media Query dos produtos */
@media screen and (max-width: 480px) {
  .products__card {
    width: calc(50% - 20px);
  }

  .products__image {
    height: 80px;
  }
}
