/* Estilização do About */
.about__container {
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

.about {
  background-color: var(--accent-color);
  padding: 2rem;
  border-radius: 12px;
  color: var(--surface-color);
  text-align: center;
  font-size: 1rem;
  line-height: 1.6rem;
}

.about__title {
  font-family: "Coustard", serif;
  color: var(--bg-color);
  margin-bottom: 1rem;
  text-align: center;
}

.about__slogan {
  text-align: center;
  margin-bottom: 1rem;
}

/* Media Query */
@media screen and (max-width: 480px) {
  .about__container {
    flex-direction: column;
    padding: 1.5rem;
  }

  .about {
    padding: 1.5rem;
  }
}
